:root {
    --cell-size: 100px;
}

body {
    margin: 0px;
}

.game-board {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    border: 1px solid white;
    background-color: black;
    width: var(--cell-size);
    height: var(--cell-size);
    color: white;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 5em;
}

.cell:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition: 200ms linear;
}

.end-game {
    position: fixed;
    z-index: 1;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35%;
    left: 50%;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px;
    transform: translate(-50%, -50%) scale(0);
}

.end-game.activate {
    transform: translate(-50%, -50%) scale(1);
}

.end-game-heading {
    text-align: center;
}

.background-end-game {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: .7;
}

.background-end-game.activate {
    display: block;
}